<nav <%= tag.attributes(breadcrumb_attributes) %>>
  <ol class="bui-breadcrumb__list">
    <% @items.each_with_index do |item, index| %>
      <li class="bui-breadcrumb__item">
        <%= render link_for_item(item, active: last_item?(index)) %>
        
        <% unless last_item?(index) %>
          <span class="<%= separator_classes %>" aria-hidden="true">
            <%= separator_text %>
          </span>
        <% end %>
      </li>
    <% end %>
  </ol>
</nav> 