<div <%= spinner_attributes.to_s.html_safe %>>
  <div class="bui-spinner__animation"></div>
  
  <% if @label.present? %>
    <div class="bui-spinner__label">
      <%= @label %>
    </div>
  <% end %>
  
  <% if content.present? %>
    <div class="bui-spinner__content">
      <%= content %>
    </div>
  <% end %>
</div> 