<div <%= spinner_attributes.to_s.html_safe %>>
  <div class="bui-spinner-animation"></div>
  
  <% if @label.present? %>
    <div class="bui-spinner-label">
      <%= @label %>
    </div>
  <% end %>
  
  <% if content.present? %>
    <div class="bui-spinner-content">
      <%= content %>
    </div>
  <% end %>
</div> 