<div <%= tag.attributes(tag_attributes) %>>
  <% if @icon.present? %>
    <div class="bui-tag__icon">
      <%= render BetterUi::General::IconComponent.new(name: @icon, size: @size == :large ? :medium : :small) %>
    </div>
  <% end %>
  
  <span class="bui-tag__text"><%= @text %></span>
  
  <% if @removable %>
    <button type="button" class="bui-tag__remove">
      <%= render BetterUi::General::IconComponent.new(name: "x", size: @size == :large ? :medium : :small) %>
    </button>
  <% end %>
</div>
