<div class="bg-gray-800 p-4">
  <%= render BetterUi::General::BreadcrumbComponent.new(
    items: items,
    variant: variant,
    separator: separator,
    size: size,
    inverse: inverse
  ) %>
</div> 