<div class="p-8">
  <h1 class="text-xl font-bold mb-6">Badge Outline</h1>
  
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <% variants.each do |variant| %>
      <div class="p-4 flex flex-col items-center space-y-3 bg-slate-50 rounded-lg">
        <h3 class="font-medium"><%= variant[:label] %></h3>
        <%= render BetterUi::General::BadgeComponent.new(
          label: variant[:label],
          type: variant[:type],
          outline: variant[:outline],
          size: :medium
        ) %>
      </div>
    <% end %>
  </div>
</div> 