<div>
  <h3 class="text-base font-semibold text-gray-900"><%= @title %></h3>
  <dl class="mt-5 grid grid-cols-1 divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow-sm md:grid-cols-3 md:divide-x md:divide-y-0">
    <% cards.each do |card| %>
      <%= card %>
    <% end %>
  </dl>
</div> 