<div class="p-4">
  <h2 class="text-lg font-bold mb-4">Alert semplice</h2>
  
  <div class="border border-gray-200 p-4 rounded-lg">
    <%= render BetterUi::Application::AlertComponent.new(
      title: "Heads up!",
      message: "You can add components to your app using the cli.",
      variant: :simple
    ) %>
  </div>
</div> 