<%= render BetterUi::General::TooltipComponent.new(
    content: content, 
    theme: theme, 
    position: position, 
    style: style, 
    size: size
) do %>
  <button class="bui-button bui-button--default bui-button--medium">Passa sopra per il tooltip</button>
<% end %>
