<div class="p-4 space-y-4">
  <div class="text-center">
    <%= render "default" %>
  </div>
  
  <div class="text-xs text-gray-500 text-center">
    Icona renderizzata tramite helper <code>bui_icon</code>
  </div>
</div>
