<div class="p-4 space-y-4">
  <div class="text-center">
    <%= render "raw" %>
  </div>
  
  <div class="text-xs text-gray-500 text-center">
    Icona renderizzata tramite istanziazione diretta del componente
  </div>
</div>
