<%= bui_navbar(
  size: size,
  theme: theme,
  variant: variant,
  shadow: shadow,
  border: border,
  with_sidebar: with_sidebar,
  sidebar_width: sidebar_width,
  action_button_theme: action_button_theme,
  action_icon_theme: action_icon_theme,
  actions: [
    {
      type: :icon,
      icon: "chat-bubble-oval",
      data: { tooltip: "Messages" }
    },
    {
      type: :avatar,
      avatar: { initials: "DU", size: :sm, theme: :green },
      href: "/profile"
    }
  ]
) do %>
  <div class="flex items-center">
    <h2 class="text-lg font-semibold">Dashboard</h2>
  </div>
<% end %>