<%= bui_navbar(
  theme: theme,
  shadow: shadow,
  border: border,
  with_sidebar: with_sidebar,
  sidebar_width: sidebar_width,
  actions: [
    {
      type: :icon,
      icon: "chat-bubble-oval",
      data: { tooltip: "Messages" }
    },
    {
      type: :avatar,
      avatar: { initials: "DU", size: :small, theme: :green },
      href: "/profile"
    }
  ]
) do %>
  <div class="flex items-center">
    <h2 class="text-lg font-semibold">Dashboard</h2>
  </div>
<% end %>