<div class="p-8">
  <h1 class="text-xl font-bold mb-6">Dimensioni Spinner</h1>
  
  <div class="flex flex-col md:flex-row gap-8 items-center">
    <% variants.each do |variant| %>
      <div class="flex flex-col items-center p-6 bg-slate-100 rounded-lg w-48 h-48">
        <h3 class="mb-4 font-semibold"><%= variant[:label] %></h3>
        <%= render BetterUi::General::SpinnerComponent.new(
          size: variant[:size],
          theme: :blue
        ) %>
      </div>
    <% end %>
  </div>
</div> 