<% if variant == :white %>
  <div class="p-4 bg-gray-800">
    <%= render BetterUi::General::HeadingComponent.new(
      text: text,
      level: level,
      variant: variant,
      size: size,
      align: align,
      icon: icon,
      subtitle: subtitle,
      with_divider: with_divider
    ) %>
  </div>
<% end %> 