<div class="p-8">
  <h1 class="text-xl font-bold mb-6">Dimensioni degli avatar</h1>
  
  <div class="flex flex-wrap items-end gap-6">
    <% variants.each do |variant| %>
      <div class="flex flex-col items-center space-y-3">
        <%= render BetterUi::General::AvatarComponent.new(
          name: "Mario Rossi",
          size: variant[:size],
          type: :blue
        ) %>
        <span class="text-sm text-gray-500"><%= variant[:label] %></span>
      </div>
    <% end %>
  </div>
  
  <div class="flex flex-col space-y-2 mt-8 text-sm text-gray-500">
    <p>Dimensioni disponibili:</p>
    <ul class="list-disc list-inside">
      <li>xxsmall: 20px</li>
      <li>xsmall: 24px</li>
      <li>small: 32px</li>
      <li>medium: 40px (default)</li>
      <li>large: 48px</li>
      <li>xlarge: 64px</li>
      <li>xxlarge: 96px</li>
    </ul>
  </div>
</div> 