<%# Template per il container %>
<div <%= tag.attributes(container_attributes) %>>
  <% if @html_content.present? %>
    <%= raw @html_content %>
  <% elsif content.present? %>
    <%= content %>
  <% end %>
</div>