<%= render(BetterUi::General::Form::FormGroupComponent.new(
  title: "Preferenze",
  description: "Personalizza la tua esperienza",
  border: false
)) do %>
  <div class="space-y-2">
    <%= render BetterUi::General::Form::CheckboxComponent.new(name: "newsletter", label: "Iscriviti alla newsletter") %>
    <%= render BetterUi::General::Form::CheckboxComponent.new(name: "offerte", label: "Ricevi offerte speciali") %>
    <%= render BetterUi::General::Form::CheckboxComponent.new(name: "aggiornamenti", label: "Ricevi aggiornamenti sui prodotti") %>
  </div>
<% end %> 